@import url("./css/window.css");
@import url("./css/cmd.css");
@import url("./css/notification.css");
@import url("./css/right_click_menu.css");
@import url("./css/window_max_size.css");

*{
    margin : 0;
    padding : 0;

    --windows_global_font :  Microsoft Sans Serif;

    --windows_button_color : #41cb41;

    --taskbar_size : 6%;
    --taskbar_color : #2361e1;
    --taskbar_application_color_in_blur : #3b84d8;
    --taskbar_application_color_in_foucs : #7380f5;
    --taskbar_shadow : inset 8px 0px 4px 4px rgba(0, 0, 0, 0.2);
    --taskbar_application_height : 80%;
    
    --global_inset_shadow : inset 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
    
}

/* desktop background */
#desktop{
    background-image: url("./graphics/background.jpg");
    background-size: cover;
}

/* buttom task bar who contain 'windows_button' current running applications & stuff */
#taskbar{
    background-color : var(--taskbar_color);
    position: fixed;
    width: 100%;
    height: var(--taskbar_size);
    top: calc(100% - var(--taskbar_size));
    box-shadow: var(--taskbar_shadow);
}

/* full windows menu button  */
#windows_button{
    position: relative;
    height: 100%;
    width: 18vh;
    background-color : var(--windows_button_color);
    border-radius: 0vh 2vh 2vh 0vh;
    float:left;
}

/* on hover event */
#windows_button:hover{
    transition: 0.2s;
    box-shadow: var(--global_inset_shadow);
    cursor:  pointer;
}

/* on click event */
#windows_button:active{
    transform: scale(0.98);
}

/* logo windows menu button */
#windows_button img{
    position: relative;
    height: 80%;
    top : 10%;
    left: 5%;
    float: left;
}

/* text windows menu button */
#windows_button p{
    position: relative;
    height: 80%;
    top : 10%;
    left: 12%;
    float: left;
    color : white;
    font-family: var(--windows_global_font);
    font-weight: bold;
    font-size: 4vh;
}


/* application in taskbar */
#taskbar .application_in_taskbar{
    position : relative;
    height: var(--taskbar_application_height);
    float: left;
    background : var(--taskbar_application_color_in_blur);
    border-radius: 0.5vh;
    top: 10%;
    margin-left: 4px;
    transition: 0.1s;
    cursor: pointer;
}

/* in click event */
#taskbar .application_in_taskbar:active{
    transform:scale(0.96);
}

/* in hover event */
#taskbar .application_in_taskbar:hover{
    background-color : var(--taskbar_application_color_in_foucs);
}

#taskbar .application_in_taskbar .app_icon{
    position: relative;
    float:left;
    height: 70%;
    margin-left: 0.5vh;
    top: 15%;
}

#taskbar .application_in_taskbar .app_name{
    position: relative;
    color: white;
    font-family: var(--windows_global_font);
    font-weight: bold;
    float:left;
    font-size: 2vh;
    top: calc(50% - 1vh);
    padding-right: 1vh;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}