
/*
    here is style of defaul menu + all menu element  
*/

*{
    --right_click_menu_color : #fff;
    --right_click_element_hover_background_color : #316ac5;
    --right_click_icon_size : 3vh;
}

/* full menu */
#right_menu{
    position: absolute;
    left: 40px;
    top:20px;
    overflow: hidden;
    background-color: var(--right_click_menu_color);
    font-family: var(--windows_global_font);
    cursor: pointer;
    font-size: 2vh;
    width: auto;
    height: auto;
}

/* menu elements def style */
#right_menu .content{
    position: relative;
    margin : 0.5vh ;
    padding : 0.5vh;
    transition: 0.2s;
    /*! width: 100%; */
    
    font-size: 2vh;

    display: block;

    -webkit-touch-callout :   none; /* iOS Safari */
      -webkit-user-select :   none; /* Safari */
       -khtml-user-select :   none; /* Konqueror HTML */
         -moz-user-select :   none; /* Old versions of Firefox */
          -ms-user-select :   none; /* Internet Explorer/Edge */
              user-select :   none; /* Non-prefixed version, currently supported by 
                                       Chrome, Edge, Opera and Firefox */
}

#right_menu .content:hover{
    background-color: var(--right_click_element_hover_background_color);
    color : white;
}

#right_menu .content:active{
    transform: scale(0.96);
}



/* menu elements icon */
#right_menu .content .icon{
    position: relative;
    width: var(--right_click_icon_size);
    border : 1px solid red;
    /*! float:left; */
    display: inline-block;
}

#right_menu .content p{
    /*! float:left; */
    display: inline-block;
    margin-left: 1vh;
    position: relative;
}

/* menu elements is a sub menu */
#right_menu .content .subMenu{
    position: relative;
    /*! width: 0; */ 
    /*! height: 0; */ 
    border-top:    1vh solid transparent;
    border-bottom: 1vh solid transparent;
    border-left:   1vh solid rgb(0, 0, 0);
    /*! float:left; */
    /*! left: 0.5vh; */
    display: inline-block;
}

#right_menu .bold{
    font-weight: bold;
}

