
/* all cmd elements style */

*{
    --cmd_background_color : black;
    --cmd_text_color : white;
    --cmd_text_size : 2.5vh; 
}

.full_container .cmd_area{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--cmd_background_color);
}

/* cmd input output style */
.full_container .cmd_area .cmd_text_content{
    position: relative;
    color : var(--cmd_text_color);
    font-size: var(--cmd_text_size);
    font-family: lucida console;
    font-weight: bold;
    display: block;
    width: 100%;
}

/* cmd full input div*/
.full_container .cmd_area .cmd_input{
    position: relative;
    display: grid;
    grid-template-columns: 20% 80%;
    /* border : 1px solid rgb(252, 255, 49); */
    height: var(--cmd_text_size);
}

/* cmd input user name*/
.full_container .cmd_area .cmd_input .cmd_user_path{
    position: relative;
    float:left;
}

/* cmd input  */
.full_container .cmd_area .cmd_input input{
    position: relative;
    float:left;
    border-style: none;
    background: transparent;
    color : white;
    font-size: var(--cmd_text_size);
    font-family: lucida console;
    font-weight: bold;
    outline: none !important;
    border-style: none;
}

.full_container .cmd_area .cmd_input input:foucs{
    outline: none !important;
    border-style: none;
}

.cmd1{
    top: 30%;
    left: 15%;
    height: 400px;
    width: 400px;
}