
/* module for window style , each window element style must be here */

*{
    --window_in_foucs_color : rgb(0, 85, 229);
    --window_in_blur_color : rgb(122, 153, 227);
    --window_raduis : 8px 8px 0px 0px;
    --window_title_font_size : 100%;
    --window_title_bar_height : 30px;
    --window_title_bar_margin_between_elements : 2%;
}

/* basic window style */
.window{
    position: absolute;
    border-radius: var(--window_raduis);
    overflow: hidden;
}

/* window blue background in foucse mode*/
.in_focus_mod{
    top:200px;
    left: 100px;
    background-color : var(--window_in_foucs_color);
    width: 400px;
    height: 300px;
}

/* window light blue background in blur mode*/
.in_blur_mod{
    top:100px;
    left: 550px;
    background-color : var(--window_in_blur_color);
    width: 500px;
    height: 300px;
}

/* title bar in window */
.window .window_title_bar{
    position: relative;
    width: 100%;
    height: var(--window_title_bar_height);
    /* border:1px solid red; */
    overflow: hidden;
}

/* window icon in title bar */
.window .window_title_bar .icon{
    position: relative;
    width: calc(var(--window_title_bar_height) / 1.5);
    float: left;
    margin-left : var(--window_title_bar_margin_between_elements);
    top: 25%;
}

/* window title */
.window .window_title_bar .title{
    position: relative;
    font-family: var(--windows_global_font);
    color : white;
    font-weight: bold;
    font-size : var(--window_title_font_size);
    /* border:1px solid rgb(0, 0, 0); */
    top: 25%;
    float: left;
    margin-left : var(--window_title_bar_margin_between_elements);
    cursor: default;
}


/* container white area where all elements in this window */
.window .full_container{
    position: relative;
    width: 98%;
    left: 1%;
    top: 1%;
    overflow: hidden;
    height: calc(98% - var(--window_title_bar_height));
    background : white;
}